.thong-bao {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5385;
  color: #333;
  text-align: left;
  background-color: #ffffff;
  opacity: 100%;
  border-radius: 1.2rem;
  padding-bottom: 3%;
  padding-top: 2%;
  height: auto;
}
.thong-bao .col-md-10 {
  margin-left: 9%;
}
.thong-bao .card-body {
  border: 2px solid steelblue;
  border-radius: 0.5rem;
  margin-bottom: 1%;
  width: 900px;
  height: 164px;
  margin-left: -7%;
}

.thong-bao .pagination {
  position: static;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thong-bao a {
  color: steelblue;
}

.thong-bao img {
  height: 10%;
}

.thong-bao .media-body {
  width: 154%;
}

.thong-bao .media-title {
  width: 90%;
}

.thong-bao .media-title a {
  text-transform: uppercase;
}
